Repository Claytonrss/react-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts,jsx,tsx}": [
    "eslint --fix", "git add"
    ],
    "*.{json,md}": "prettier --write"

  }

chore: config husky
  package.json
Due: prettier --write

chore: config husky
  .huskyrc.json
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: config husky
  src/index.tsx
Due: eslint --fix

chore: config husky
  .husky/pre-commit
Due: none

chore: config husky
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

chore: config husky
  .husky/pre-commit
  package.json
Due: prettier --write

chore: add styled-component
  .eslintrc.json
  package.json
  src/App.tsx
  src/components/app/index.tsx
  src/components/app/styles.ts
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: add commitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write

feat: add and config miragejs
  .eslintrc.json
  package.json
  src/components/app/index.tsx
  src/index.tsx
  src/services/api.ts
  src/services/miragejs/MockServer.ts
  src/services/miragejs/mocks/users.json
  src/services/miragejs/types.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add and config cypress
  .eslintrc.json
  cypress.json
  cypress/integration/home.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  src/components/app/index.tsx
  src/index.css
  src/index.tsx
  src/services/api.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add and config theme provider
  .eslintrc.json
  public/index.html
  src/components/atoms/display-code/index.tsx
  src/components/atoms/display-code/styles.ts
  src/components/atoms/title/index.tsx
  src/components/atoms/title/styles.ts
  src/components/organisms/content/index.tsx
  src/components/organisms/content/styles.ts
  src/index.tsx
  src/styles/global.ts
  src/styles/styles.d.ts
  src/styles/theme.ts
Due: eslint --fix, prettier --write

chore: update readme
  README.md
Due: prettier --write

chore: config cypress
  .gitignore
  .husky/pre-commit
  src/components/atoms/title/index.tsx
  src/components/organisms/content/index.tsx
  src/types/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write
